
body { padding-top: 70px;
		    min-height:100%;
}

#output {
	padding-bottom: 20px;
	background-color: #F5FAFA;

}

.sliderd {
	width: 100px;
}

.CodeMirror {
	height: inherit;
}

#left-component {
	right: 50%;
	margin-right: 5px;
}
#my-divider {
	right: 50%;
	width: 5px;
}
#right-component {
	width: 50%;
}

#copylink {
	float: right;
}

@font-face {
  font-family: 'STIXGeneral';
  src: url('../fonts/STIXMathJax_Main-Regular.woff');
}

#filePickerDiv {
	display: inline-table;
	float: left;
}

.logicsymbol {
	font-size: 18px;
	font-family: STIXGeneral;
  	-webkit-user-select: none;  /* Chrome all / Safari all */
  	-moz-user-select: none;     /* Firefox all */
  	-ms-user-select: none;      /* IE 10+ */

  /* No support for these yet, use at own risk */
  	-o-user-select: none;
  	user-select: none;
}

#filename {
	font-size: 14px;
	display: inline;
}


#textEditor {
	height: 100% !important;
	padding: 0px;
	border: 0px;
}

#manual{
	height: 100% !important;
}

.terminal {
	overflow-y: scroll;
}
#rightpart{
	background-color: transparent;
	overflow: auto;
	overflow-y: auto;
	height: 100% !important;
	width: 100%;
	padding: 0px;
}

body {
    background-image: url('../images/bg.png');
    background-repeat: repeat;
}


#examples {
	overflow-y: auto;
	min-width: 300px;
	padding: 5px;
	background-color: #FFFFFF;
}

div.console {
	font-family: FreeMono, monospace;
	font-size: 12px;
  	white-space: pre;
  	line-height: 14px;
  	padding: 10px;
  	word-wrap: break-word;
}

div.console div.jquery-console-prompt-box
 { color:#2c3e50}
div.console div.jquery-console-focus span.jquery-console-cursor
 { background:#2c3e50; color:#333; font-weight:bold }
div.console div.jquery-console-message-error
 { color:#f00; }
div.console div.jquery-console-message-type
 { color:#52666f;
   padding:0.1em; }
div.console span.jquery-console-prompt-label { }


.jquery-console-inner{
	margin-top: -28px;
	overflow-y: auto;
}
