<script src="./js/jquery-2.1.1.js" type="text/javascript"></script>

	<!-- LAYOUT v 1.3.0 -->
	<link type="text/css" rel="stylesheet" href="styles/layout-default-latest.css" />
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">


	<script type="text/javascript" src="js/jquery-ui-latest.js"></script>
	<script type="text/javascript" src="js/jquery.layout-1.3.0.rc30.80.js"></script>
	<!-- Bootstrap Scripts -->
	<script src="./js/bootstrap.js" type="text/javascript"></script>
	<!-- Codemirror CSS -->
	<link rel="stylesheet" href="./styles/codemirror.css">
	<link rel="stylesheet" href="./styles/foldgutter.css" />
	<link rel="stylesheet" href="./styles/elegant.css">
	<link rel="stylesheet" href="./styles/codemirror-ui.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="./js/addon/hint/show-hint.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="./js/addon/hint/templates-hint.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="./js/addon/lint/lint.css">
	<link rel="stylesheet" href="./js/addon/display/fullscreen.css">
	<link rel="stylesheet" href="./js/addon/dialog/dialog.css">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="./styles/bootstrap.css">
	<!-- IDPSpecific css -->
	<link rel="stylesheet" href="./styles/idp.css">
	<!-- Codemirror Scripts -->
	<script src="./js/lib/codemirror.js"></script>
	<script src="./js/lib/util/searchcursor.js"></script>
	<script src="./js/lib/codemirror-ui.js" type="text/javascript"></script>
	<script src="./js/mode/idp/idp.js"></script>
	<script src="./js/addon/lint/idp-lint.js"></script>
	<script src="./js/addon/edit/closebrackets.js"></script>
	<script src="./js/addon/edit/matchbrackets.js"></script>

		<script src="./js/addon/search/search.js"></script>
		<script src="./js/addon/search/searchcursor.js"></script>
		<script src="./js/addon/dialog/dialog.js"></script>

	<script src="./js/addon/lint/lint.js"></script>
	<script src="./js/addon/selection/active-line.js"></script>
	<script src="./js/addon/fold/foldcode.js"></script>
	<script src="./js/addon/display/fullscreen.js"></script>
	<script src="./js/addon/fold/foldgutter.js"></script>
	<script src="./js/addon/fold/brace-fold.js"></script>
	<script src="./js/addon/hint/anyword-hint.js"></script>
	<script src="./js/addon/hint/templates-hint.js"></script>
	<script src="./js/addon/hint/idp-templatelist.js"></script>
	<script src="./js/addon/hint/show-hint.js"></script>
	<script src="./js/spin.js"></script>
	<script src="./js/jquery.spin.js"></script>
	<script src ="./js/idpcommon.js"></script>
	<script src ="./js/jquery.console.js"></script>
	<script src ="./js/jquery.mousewheel.min.js"></script>

    <script type="text/javascript" src="./js/d3/d3.js"></script>
    <script type="text/javascript" src="./js/d3/idpd3.js"></script>

	<script src ="./js/socket.io-1.2.1.js"></script>

	<link rel="stylesheet" href="./js/jQueryFileTree/jQueryFileTree.min.css">
	<script src="./js/jQueryFileTree/jQueryFileTree.js"></script>
