<h3>International Conference on Logic Programming - Programming Contest (2024)</h3>

<p>
The Programming Contest at the 2024 International Conference on Logic Programming was organized by Prof. Martin Gebser. 
Participants faced four challenges, each of which could be solved using any declarative programming language, such as Prolog, ASP, or IDP, within a time limit of one and a half hours.
The competition was conducted in teams of up to three members.
</p>

<h4>Challenge 1: Gates to truth</h4>
<p>Problem description from the assignment:</p>
<blockquote cite="#" class="justext">
    In this problem, we are given the layout of a Boolean circuit with unary and binary gates, yet we have to decide which logical operations the gates should perform. 
    For each unary gate, we have to choose between the identity function and negation, and between logical AND and OR for the binary gates. 
    A partial specification requires specific output values for some truth assignments of the input variables, while the output can be arbitrary for the remaining truth assignments.
</blockquote>
<p><a href='javascript:loadUrl("./examples/scienceweek/iclp-cp-2024/problem-1/Gates-to-truth-webide.idp")'><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span> Try in the editor </a></p>

<h4>Challenge 2: Tile them all</h4>
<p>Problem description from the assignment:</p>
<blockquote cite="#" class="justext">
    Consider a rectangular 4×5 grid such that each of its cells contains a number: 0, 1, 2, or 3. 
    The goal is to group horizontally or vertically adjacent cells into ten disjoint pairs such that all ten of the combinations {0, 1, 2, 3} × {0, 1, 2, 3} are represented by a pair, also called tile.
</blockquote>
<p><a href='javascript:loadUrl("./examples/scienceweek/iclp-cp-2024/problem-2/Tile-them-all-webide.idp")'><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span> Try in the editor </a></p>

<h4>Challenge 3: Area fifty won</h4>
<p>Problem description from the assignment:</p>
<blockquote cite="#" class="justext">
    Consider a 5×5 grid such that some of its cells contain positive numbers and the remaining cells are empty. 
    The goal is to partition the grid into as many disjoint areas as there cells with positive numbers, where each area consists of exactly one cell with a positive number N and N − 1 empty cells. 
    Moreover, the cells of each area must form a connected region, i.e., there is a path via horizontally or vertically adjacent neighbors between any two cells belonging to the same area.
</blockquote>
<p><a href='javascript:loadUrl("./examples/scienceweek/iclp-cp-2024/problem-3/Area-fifty-won-webide.idp")'><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span> Try in the editor </a></p>

<h4>Challenge 4: Fence for fans</h4>
<p>Problem description from the assignment:</p>
<blockquote cite="#" class="justext">
    Consider a W×H grid of width W and height H such that, for each cell c, a non-negative cost cost(c) and a (possibly negative) reward reward(c) is given. 
    The goal is to set up a fence, forming a non-empty and non-simple cycle, which must not include any cell with a negative reward (reward(c) < 0 is not permitted for cells c belonging to the cycle) and maximizes the following quality function: sum (reward(c) - cost(c)) for each cell c that is part of the fence.
    Moreover, given limits on the length of the cycle, i.e., the number of contained cells, and the budget for setting up the cycle, i.e., the sum of costs cost(c) over the cells c belonging to the cycle, must not be exceeded. 
</blockquote>
<p><a href='javascript:loadUrl("./examples/scienceweek/iclp-cp-2024/problem-4/Fence-for-fans-webide.idp")'><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span> Try in the editor </a></p>