<h2>2. Modelexpansion <small>Map Coloring</small></h2>
This tutorial focuses on the modelexpansion inference. You will learn how to solve the map coloring problem, learn about options to modify the output and about the model iterator.

<h3>Solving The Problem</h3>
<p>A well known example in AI, is the map colouring problem. Given a map with a collection of countries/areas, we want to find to assign a colour to each area, such that two adjacent areas do not have the same colour. To model this problem we need a set of countries and a set of colours. In addition we also need a function that maps a country to a colour and a relation that says that two countries border each other.</p>
<pre class="idp-code">
vocabulary V{
    type Area
    type Color
    Border(Area,Area)
    Coloring(Area):Color
}
</pre><p>The only constraint for this problem is that two adjacent countries do not have the same colour.</p>
<pre class="idp-code">
theory T: V{
    !a1[Area] a2[Area]:Border(a1,a2) | Border(a2,a1) =&gt;Coloring(a1)~=Coloring(a2).
}
</pre>
<p><a href='javascript:loadUrl("./examples/intro/2a.idp")'><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span> Try in the editor </a></p>

<p>In order to solve a concrete problem, we specify an instance (a structure) and we define in the main procedure what inference we want to use. In this case, we want to perform modelexpansion, since we are searching for an assignment to certain symbols that expands the structure S and satisfies T. Our concrete structure is a map of a part of western Europe.</p>

<h3>Commonly used options</h3>
By default, IDP only returns one model of the theory. Oftentimes a user can be interested in multiple results. This can be done by changing "stdoptions.nbmodels". When set to 0, IDP will compute all models of the theory.
<pre class="idp-code">
procedure main(){
	stdoptions.nbmodels = 2
	printmodels(modelexpand(T,S))
}
</pre>
<p><a href='javascript:loadUrl("./examples/intro/2b.idp")'><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span> Try in the editor </a></p>

<p>IDP firstly reduces the theory to a quantifier free format (grounding), before trying to find a solution (solving). Sometimes, the user wants a bit more insight in what is happening. For this purpose one can use the stdoptions.verbosity.grounding and stdoptions.verbosity.solving options. Higher numbers will lead to more information being printed.
<pre class="idp-code">
procedure main(){
	stdoptions.verbosity.grounding = 1
	stdoptions.verbosity.solving = 2
	printmodels(modelexpand(T,S))
}
</pre>
<p><a href='javascript:loadUrl("./examples/intro/2c.idp")'><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span> Try in the editor </a></p>


<h3>Model iteration</h3>
Sometimes you want to dynamically decide whether another model should be computed. This can be done by the model iterator, instead of a list of models, a call to modelIterator(Theory,Structure) returns an iterator object, which returns a new model every time you execute it.
<pre class="idp-code">
procedure main(){
	iterator = modelIterator(T,S)

    print("Print another model?")
    while io.stdin:read() == "yes" do
        model = iterator()
        print(model)
    end
}
</pre>
<p><a href='javascript:loadUrl("./examples/intro/2d.idp")'><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span> Try in the editor </a></p>

In the above example. The solver outputs a new model as long as the user keeps saying yes.

<h3>Output vocabulary</h3>
It is possible that you are only interested in part of your models. For example, in this coloring example, you can be only interested in the coloring itself. This can be done via an output vocabulary. You can declare an output vocabulary as a normal vocabulary, where you include symbols from other vocabularies. You can refer to this symbol by VocabularyName::SymbolName/InputArity:OutputArity. When doing a modelexpand, you can give the output vocabulary as the third argument.  For example:
<pre class="idp-code">
vocabulary Vout{
    extern V::Coloring/1:1
}

procedure main(){
  printmodels(modelexpand(T,S,Vout))
}
</pre>

<p><a href='javascript:loadUrl("./examples/intro/2e.idp")'><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span> Try in the editor </a></p>
