<h2>3. Inferences</h2>
IDP can do many more inferences than model expansion. In this tutorial we explore some of these.

<h3>Motivating Example</h3>
Given the following statements:
<b>I am one year older than the double of my sons age. The sum of our ages lies between 70 and 80. My son is an adult if he is at least 21 years old.</b>
<br>
What problems can I solve with this information? A few examples.
<br>
<ul>
<li>derive our possible ages</li>
<li>Prove that my son is an adult</li>
<li>Given: my actual age is the solution where I am the oldest. How old are we? </li>
<li>Given: I am 53. How old are we? </li>
</ul>

We can solve all these problems within IDP. We introduce a vocabulary consisting of a type representing our age and two constants representing the ages of the father and his son. We define a theory that expresses the necessary linear constraints:
Lastly, we initialize the type 'age' and provide a procedure with the necessary inferences.

Now we can solve the various problems:
<h4>Derive our possible ages <small>Model Expansion</small> </h4>
This can be done by printing the models of the theory, as we have done before.
<p><a href='javascript:loadUrl("./examples/intro/3a.idp")'><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span> Try in the editor </a></p>
<h4>Prove that my son is an adult <small>Propagation</small></h4>
This can done by the propagation inference. This inference will expand a structure with information which is true in every model.
<pre class="idp-code">
procedure main(){
    print(optimalpropagate(T,S))
}
</pre>
<p><a href='javascript:loadUrl("./examples/intro/3b.idp")'><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span> Try in the editor </a></p>
Propagating optimally can be a computationally expensive task. For there are two computationally easier versions available. propagate(theory,structure) which will try to propagate by only looking at the constraints at a high level, and groundpropagate(theory,structure), which will try to propagate based on a ground version of theory, but without making any choices.

<h4>How old are we? <small>Minimisation</small></h4>
If we want to know solution where I am the oldest, then we can try minimizing the negation of my age. To do this, we need to define a new idp object: a term. We can declare this as follows:
<pre class="idp-code">
term t: V {
    -myAge
}
</pre>
Subsequently, we can ask idp to get the model where this term is minimal. Minimise returns a list of optimal of length stdoptions.nbmodels. Just like with modelexpansion, you can print these with printmodels. To minimise over a non-aggregate term, idp requires you to turn the constraint programming support.
<pre class="idp-code">
procedure main(){
	stdoptions.cpsupport = true
	printmodels(minimize(T,S,t))
}
</pre>
<p><a href='javascript:loadUrl("./examples/intro/3c.idp")'><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span> Try in the editor </a></p>

<h3>Map Coloring Revisited <small>Querying</small></h3>
Sometimes it is useful to do more with a model than just print it. IDP supports querying to ask specific questions about a structure. Recall the map coloring problem from Section 2. One could be interested in knowing the colors which were not used for coloring a country. For this purpose, IDP uses a query block, which represents a set expressions. In the following example, the user is interested in the colors, for which there does not exist an area, that is colored in that color.
<pre class="idp-code">
query Q:V{
	{x[Color]:~?y[Area]:Coloring(y)=x}
}
</pre>
Now, after calculating a model of the theory, we can execute this query over the resulting structure. Note that we use the first structure out of the list returned by the modelexpansion, as querying works on individual structures and not lists.
<pre class="idp-code">
procedure main(){
	M = modelexpand(T,S)[1]
	print(query(Q,M))
}
</pre>
<p><a href='javascript:loadUrl("./examples/intro/3d.idp")'><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span> Try in the editor </a></p>
