<h2>7. Advanced Options</h2>
<h3>Constraint Programming Support</h3>
<p>
IDP has several useful options. For example, by default, IDP performs model expansion by ground and solve: first grounding the input to a propositional theory and subsequently calling an (extended) SAT solver. When domains are very large, the grounding often becomes unfeasible. For example, translating the following theory to SAT quickly consumes all memory in an average computer if A, B and C range over a large domain.
</p>
<p>In the field of constraint programming, large domains are often not a problem. Therefore, the SAT solver (minisatID) underlying IDP has been extended with constraint programming modules. The CP solver can be activated with:</p>
<pre class="idp-code">
stdoptions.cpsupport=true
</pre>
<p><a href='javascript:loadUrl("./examples/intro/7a.idp")'><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span> Try in the editor </a></p>

<h3>Using XSB for definitions</h3>
Using XSB to calculate definitions of which all opens are known:<br />
<pre class="idp-code">
stdoptions.xsb=true
</pre>

<h3>Lazy grounding (interweaving ground and solve)</h3>
<pre class="idp-code">
stdoptions.tseitindelay=true
stdoptions.satdelay=true    </pre>

<h3>Approximations</h3>

<p>Furthermore, before starting the grounding process, by default IDP performs an approximation step in order to try to reduce grounding size. This step can be disabled using the following option:</p>
<pre class="idp-code">
stdoptions.groundwithbounds=false
stdoptions.liftedunitpropagation=false
</pre>

<h3>Symmetry Breaking</h3>
<p>Another useful options influencing performance is symmetry breaking. Often, domain elements are interchangeable (for example pigeons in the pigeon hole problem, nurses in rostering problems, ...). Automated symmetry breaking methods can be enabled with the following option:</p>
<pre class="idp-code">
stdoptions.symmetrybreaking="static"
</pre>
<p><a href='javascript:loadUrl("./examples/intro/7f.idp")'><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span> Try in the editor </a></p>

<h3>Stable Semantics</h3>
In normal circumstances, IDP uses well-founded semantics. However, sometimes the user is interested in models according to the stable model semantics. IDP can handle this through the use of the stablesemantics option.
<pre class="idp-code">
stdoptions.stablesemantics="true"
</pre>
<p><a href='javascript:loadUrl("./examples/intro/7g.idp")'><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span> Try in the editor </a></p>
