<h2>8. Time-dependent Theories</h2>
<p><a href='javascript:loadUrl("./examples/intro/8a.idp")'><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span> Try in the editor </a></p>

<h3>Block world</h3>
<p>Iterated inductive definitions are a well-known phenomenon in mathematics. An iterated inductive definition consists of a sequence of inductive definitions. Each of the definitions can refer (both positively and negatively) to symbols defined in earlier definitions. In order to find the model of such an iterated inductive definition, you should calculate the models of each of the smaller definitions in the specified order. It has been shown that you can append all of the separate definitions into one big definition and that the well-founded semantics still formalizes the iterated induction correctly. </p>
<p>Iterated inductions occur in real-world problems too. Consider for example a variant of the well-known blocks world planning domain. Given is a set of blocks on a table. A robot can execute the following actions:</p>
<ul>
<li>'pickup' to pick up a block, and </li>
<li>action put to put the block on the table or another block.</li>
</ul>
<p>When a block is picked up on top of which other blocks are piled up, the effect of this action depends on the size of the pile: if the size exceeds a given threshold, then the pile collapses and all blocks fall on the table with exception of the picked one. Otherwise, the robot can hold and move the block and all blocks piled on it. We assume that initially the robot’s hand is empty. We formalize this in the example below. In this example, we will also demonstrate the Linear Time Calculus, how the induction method can be used to prove invariants about a theory over time, and how the <a href="//dtai.cs.kuleuven.be/krr/files/progression.pdf">progression inference</a> can be used for interactive simulation.</p>