<h2>9. Visualisations</h2>
IDP has support for visualisations. This technology is called IDPD3.


<h3>Flood Puzzle</h3>
This flood puzzle illustrates the full capabilities of IDPD3: an interactive LTC theory.
<p><a href='javascript:loadUrl("./examples/flood.idp")'><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span> Try in the editor </a></p>

<a href="http://dtai.cs.kuleuven.be/krr/files/bib/manuals/idpd3-manual.pdf">Here</a> you can find more infromation about how to write your own visualisations.

<h3>Pacman</h3>
In this example pacman you can interactively guide pacman through a maze. Note that because of runtime constraints, you can only walk a few steps in the online version.
<p><a href='javascript:loadUrl("./examples/pacman.idp")'><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span> Try in the editor </a></p>

<h3>Science Week examples</h3>
We can use IDP as a learning tool. In these examples, if you put a theory which contains a mistake, the IDP will show the mistake using a visualisation of your wrong solution.

<p><a href='javascript:loadUrl("./examples/scienceweek/graphColoring/coloring.idp")'><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
Graph Coloring </a></p>
<p><a href='javascript:loadUrl("./examples/scienceweek/nqueens/nqueens.idp")'><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
The N-Queens Problem </a></p>
<p><a href='javascript:loadUrl("./examples/scienceweek/sudoku/sudoku.idp")'><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
Sudoku </a></p>
<p><a href='javascript:loadUrl("./examples/scienceweek/roster/roster.idp")'><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
Course Scheduling </a></p>
<p><a href='javascript:loadUrl("./examples/scienceweek/hanoi/hanoi.idp")'><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
The Towers of Hanoi </a></p>

<h3>Science Week examples (Dutch)</h3>
<p><a href='javascript:loadUrl("./examples/wetenschapsweek/kleuring/kleuring.idp")'><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
Graph Coloring </a></p>
<p><a href='javascript:loadUrl("./examples/wetenschapsweek/nqueens/nqueens.idp")'><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
The N-Queens Problem </a></p>
<p><a href='javascript:loadUrl("./examples/wetenschapsweek/sudoku/sudoku.idp")'><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
Sudoku </a></p>
<p><a href='javascript:loadUrl("./examples/wetenschapsweek/lesrooster/lesrooster.idp")'><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
Course Scheduling </a></p>
<p><a href='javascript:loadUrl("./examples/wetenschapsweek/hanoi/hanoi.idp")'><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
The Towers of Hanoi </a></p>
